<div class="info-bar">
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label class="col-sm-2 control-label text-right">Sale ID</label>
                <div class="col-sm-2">
                    
                    <input  type="text" class="form-control" ng-model="userinfo.id">
                </div>
                <label class="col-sm-2 control-label text-right">Sale Name</label>
                <div class="col-sm-2">
                    <input  type="text" class="form-control" ng-model="userinfo.name">
                </div>
                <label class="col-sm-2 control-label text-right">เบอร์มือถือตัวแทนจำหน่าย</label>
                <div class="col-sm-2">
                    <input  type="text" class="form-control" ng-model="userinfo.mobileno">
                </div>
            </div>
        </div>
    </div>
</div>