<!-- Header -->
<div id="header" ng-include="'views/common/headerserved.html'"></div>
<!-- Main Wrapper -->
<div id="wrapper">
    <div class="container">
        <div class="row content" ng-show="indexPage==1">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{trueProduct.productName}}</h4>
                    </div>
                    <!-- <div class="col-xs-8">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" aria-label="Center Align">โปรโมชั่น</button>
                            <button type="button" class="btn btn-default" aria-label="Center Align">ซื้อเครื่องเปล่า</button>

                        </div>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="images/product/{{trueProduct.productImg}}.png" />
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <h4 class="top_tll">Campaing</h4>
                            <br>
                            <div class="row">
                                <a href="" data-toggle="modal" data-target=".modalPromotion">
                                    <div class="well">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <b>RS499 TC_iPhone 6 & 6 Plus discount 5000bt</b>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <ul>
                                                    <li>
                                                        เลือก Promotion ismart 499, 699, 899 หรือ Jumbo 599, 799, 999
                                                    </li>
                                                    <li>
                                                        ชำระล่วงหน้า 6 เดือน สัญญา 12 เดือน
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <b>ราคาเครื่องลด  5000 บาท เหลือ  24,450 บาท</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="" data-toggle="modal" data-target=".modalPromotion">
                                    <div class="well">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <b>RS491 RF_Existing iPhone 6 & 6 Plus discount 500</b>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <ul>
                                                    <li>
                                                        เลือก Promotion ismart 499, 699, 899 หรือ Jumbo 599, 799, 999
                                                    </li>
                                                    <li>
                                                        ชำระล่วงหน้า 6 เดือน สัญญา 12 เดือน
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <b>ราคาเครื่องลด  5000 บาท เหลือ  24,450 บาท</b>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <h4 class="top_tll">Promotion Set</h4>
                            <br>
                            <div class="row">
                                <a href="" data-toggle="modal" data-target=".modalPromotion">
                                    <div class="well" style="background-color:pink">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <b>PT343 Device with Sim(TUC)</b>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <ul>
                                                    <li>
                                                        ซื้อเครื่องพร้อมเปิดบริการหมายเลข True Move H (TUC)
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                                <a href="" data-toggle="modal" data-target=".modalPromotion">
                                    <div class="well" style="background-color:pink">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <b>PT343 Device with Sim(RMV)</b>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <ul>
                                                    <li>
                                                        ซื้อเครื่องพร้อมเปิดบริการหมายเลข True Move H (RMV)
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="" ng-click="openTruemove()" data-dismiss="modal" class="btn btn-success" style="width:100px;">ถัดไป</a>
                </div>
            </div>
        </div>
        <div class="row content" ng-show="indexPage==2">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{trueProduct.productName}}</h4>
                    </div>
                    <!-- <div class="col-xs-8">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" aria-label="Center Align">โปรโมชั่น</button>
                            <button type="button" class="btn btn-default" aria-label="Center Align">ซื้อเครื่องเปล่า</button>

                        </div>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="images/product/{{trueProduct.productImg}}.png" />
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <br>
                            <h4 class="top_tll">เปิดบริการใหม</h4>
                            <br>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div data-toggle="buttons" class="btn-group btn-group-justified">
                                    <label class="btn btn-default active" ng-click="changeType('N')">
                                        <input type="radio" name="type" ng-model="serviceType" value="N"> เปิดบริการหมายเลขใหม่
                                    </label>
                                    <label class="btn btn-default" ng-click="changeType('B')">
                                        <input type="radio" name="type" ng-model="serviceType" value="B"> ใช้บริการหมายเลขเดิม
                                    </label>
                                </div>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>ประเภทลูกค้าย่อย <span style="color:red;">*</span></label>
                                        <select ng-model="subCompanyType" ng-options="key as value for (key , value) in subCompanyTypeOptions" class="form-control">
                                            <!--<option>เลือก</option>-->
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>ประเภทลูกค้าย่อย <span style="color:red;">*</span></label>
                                        <select ng-model="subCompanyType" ng-options="key as value for (key , value) in subCompanyTypeOptions" class="form-control">
                                            <!--<option>เลือก</option>-->
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>หมายเลขโทรศัพท์ที่ลูกค้าจองไว้ <span style="color:red;">*</span></label>
                                        <div class="well" style="background-color:#ffffff;">
                                            <div class="row">089-4441111</div>
                                            <div class="row">089-4443333</div>
                                            <div class="row">089-4446666</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
                                    <label>ข้อมูลหมายเลขโทรศัพท์</label>
                                    <div class="well" style="background-color:#ffffff;">
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>ประเภทลูกค้าย่อย</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>ซิมการ์ด</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="form-group">
                                                <div class="col-md-6">
                                                    <label>Price Plan</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="col-md-5">
                                                    <label>&nbsp</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="col-md-1">
                                                    <label>&nbsp</label>
                                                    <button class="btn" style="background-color: #5cb85c; border-color: #4cae4c; ">...</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="" ng-click="openTruemove()" data-dismiss="modal" class="btn btn-success" style="width:100px;">ถัดไป</a>
                </div>
            </div>
        </div>
        <div class="row content" ng-show="indexPage==3">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <h4>{{trueProduct.productName}}</h4>
                    </div>
                    <!-- <div class="col-xs-8">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" aria-label="Center Align">โปรโมชั่น</button>
                            <button type="button" class="btn btn-default" aria-label="Center Align">ซื้อเครื่องเปล่า</button>

                        </div>
                    </div> -->
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <img src="images/product/{{trueProduct.productImg}}.png" />
                    </div>
                    <div class="col-sm-8">
                        <div class="row">
                            <br>
                            <h4 class="top_tll">ตรวจสอบสิทธิ์</h4>
                            <br>
                        </div>
                        <div class="row">
                            
                            <div class="col-md-3"><h4>RS491</h4></div>
                            <div class="col-md-9"><h4>RS491</h4></div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                    <label>หมายเลขบัตรประชาชน</label>
                                    <input class="form-control" type="text">
                                </div> 
                                </div> 
                            </div>
                            
                        </div>
                        <br>
                        <div class="row">
                            <div class="form-group">
                                <div class="row">
                                    <div class="col-md-6">
                                    <label>หมายเลขโทรศัพท์</label>
                                    <input class="form-control" type="text">
                                </div> 
                                </div> 
                            </div>
                            
                        </div>
                        
                    </div>
                </div>
                <div class="modal-footer">
                    <a href="" ng-click="openTruemove()" data-dismiss="modal" class="btn btn-success" style="width:100px;">ถัดไป</a>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<!-- Footer style="border-size:0.5px; border-style:solid;"-->
<footer class="footer" ng-include="'views/common/footer.html'"></footer>
</div>